body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-271deg, #f0586a, #b63e4d);
  overflow: hidden;
}
header {
  text-align: right;
}
header .menu-icon {
  width: 50px;
  text-align: right;
  display: inline-block;
  line-height: 1;
  margin: 10px 15px 0px 0px;
  cursor: pointer;
}
header .menu-icon span {
  display: inline-block;
  background-color: #f3f3f3;
  height: 6px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
header .menu-icon span:first-child {
  width: 3rem;
}
header .menu-icon span:last-child {
  width: 2rem;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.show {
  display: block !important;
  animation: popup 1s linear;
}
.snowball {
  position: absolute;
  top: 0px;
  animation: snowfell 15s ease infinite;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
}
@keyframes popup {
  0% {
    transform: scale(0) rotateZ(-360deg);
  }
  20% {
    transform: scale(0.2) rotateZ(-180deg);
  }
  40% {
    transform: scale(0.4) rotateZ(-90deg) rotateZ(90deg);
  }
  80% {
    transform: scale(0.8) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes snowfell {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.hide {
  display: none;
}
main .card-container {
  position: relative;
}
main .card-container .chrismas-card,
main .card-container .chrismas-card-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  min-height: 250px;
  min-width: 550px;
}
main .card-container .chrismas-card:nth-child(1),
main .card-container .chrismas-card-bg:nth-child(1) {
  transform: translate(-50%, 50%) rotate(-5deg);
  z-index: 1;
}
main .card-container .chrismas-card:nth-child(2),
main .card-container .chrismas-card-bg:nth-child(2) {
  transform: translate(-50%, 50%) rotate(5deg);
  z-index: 2;
}
main .card-container .chrismas-card:nth-child(3),
main .card-container .chrismas-card-bg:nth-child(3) {
  transform: translate(-50%, 50%) rotate(0deg);
  z-index: 3;
}
main .card-container .chrismas-card h1 input,
main .card-container .chrismas-card-bg h1 input,
main .card-container .chrismas-card h3 input,
main .card-container .chrismas-card-bg h3 input {
  font-size: 1.5rem;
  font-weight: 600;
  width: 45%;
}
main .card-container .chrismas-card h3 input,
main .card-container .chrismas-card-bg h3 input {
  font-size: 1rem;
  width: auto;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto', sans-serif !important;
}
input:focus {
  outline: none;
}
